* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.display-4 {
  font-size: 2.5rem;
}
body {
  font-family: 'poppins';
}

html {
  scroll-behavior: smooth;
}

*:focus {
  outline: none;
}

.navbar {
  background: rgb(247, 245, 245);
  padding: 0.1rem 4rem;
}

.navbar img {
  height: 10vh;
  width: auto;
}

.nav-link {
  margin-right: 2rem;
}

nav .navbar-nav li a {
  color: #fe840d !important;
}

nav .navbar-nav li a:hover {
  color: #2dbe61 !important;
  transition: 0.3s ease-out;
}

/* Buttons styles */

.btn-success {
  padding: 10px 25px !important;
  background-color: #2dbe61;
  transition: 0.3s ease-out;
}

.btn-outline-warning {
  border: 1px solid white;
  margin-top: 1rem;
  padding: 10px 25px;
  color: white;
}

.btn-outline-warning:hover {
  background-color: #fe840d;
  transition: 0.3s ease-out;
}

.infoBar {
  background: #fe840d;
  height: 7vh;
  padding: 0 4rem;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
}

.infoBar p {
  margin-top: 15px;
}

.infoBar img {
  height: 18px;
  margin-right: 0.5rem;
}

.marg {
  margin-left: 7rem;
}

/* scroll to page top */

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2dbe61; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 70px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  animation: fade 1s;
}

#myBtn img {
  height: 22px;
}

#myBtn:hover {
  background-color: #fe840d; /* Add a dark-grey background on hover */
}

p {
  line-height: 1.8;
}

/* Hero section Styling */

#hero {
  background: url(../img/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
}

.heroContainer {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  height: 700px;
  width: 100%;
}

.innerContent {
  padding: 6rem 4rem;
}

.heroContainer::before {
  content: '';
  position: absolute;
  bottom: -10rem;
  left: 0;
  width: 100%;
  height: 200px;
  background: white;
  clip-path: polygon(100% 10%, 0 100%, 100% 100%);
}

.sendMoney {
  position: absolute;
  padding: 3rem;
  right: 4rem;
  background: white;
  color: rgb(59, 59, 59);
  border-radius: 50px;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.1), 0 12px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sendMoney h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 400;
}

.sendMoney label {
  font-size: 1.2rem;
  font-weight: 500;
}

.sendMoney input {
  border: none;
  border-right: 1px solid #2dbe61;
  padding: 7px 4rem 7px 7px;
}

.input2 select {
  padding-right: 12.3rem;
}

.input3 select {
  padding-right: 9rem;
}

.input1 {
  margin-top: 1rem;
  padding: 15px;
  border: 1px solid #2dbe61;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.input1 select {
  border: none;
}

/* services styling section */

#services {
  background: white;
  color: darkgray;
  overflow-x: hidden;
}

#services h4 {
  font-weight: 400;
  font-size: 1rem;
  color: black;
  padding-bottom: 1rem;
}

#services span {
  background: #2dbe61;
  height: 3px;
  width: 70px;
  display: inline-block;
  margin-right: 1rem;
}

#services h1 {
  padding-bottom: 2rem !important;
  color: black;
}

#services .btn-success {
  margin-top: 1rem;
}

#services .box {
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 15px;
  border: 1px solid darkgray;
  text-align: center;
}

#services .box img {
  height: 90px;
}

#services .box h4 {
  font-weight: 600;
  padding-top: 1rem;
}

/* Tracking section styling */

#tracking {
  background: rgb(235, 233, 233);
  color: darkgray;
  overflow-x: hidden;
}

#tracking img {
  width: 500px;
}

#tracking .btn-outline-success {
  margin-top: 1rem;
}

#tracking h1 {
  padding-bottom: 2rem !important;
  color: black;
}

/* how section styling */

#how {
  background: white;
  color: darkgray;
  overflow-x: hidden;
}

#how h1 {
  padding-bottom: 2rem !important;
  color: black;
}

#how img {
  width: 550px;
}

#how .accordion {
  text-align: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.panel p {
  padding: 1rem 0 1rem 0;
}

#how .active,
.accordion:hover {
  background-color: #ccc;
}

#how .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#how .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 7px;
  color: #777;
  float: right;
  margin-left: 5px;
}

#how .active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

/* partners section styling */

#partner {
  background: rgb(212, 211, 211);
  display: flex;
  overflow-x: hidden;
}

#partner .innerContent {
  padding: 10px 4rem;
}

#partner img {
  height: 40px;
  margin: 0 4.5rem;
  cursor: pointer;
}

#partner img:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* why choose us section styling */

#why {
  background: rgb(235, 233, 233);
  color: darkgray;
  overflow-x: hidden;
}

#why h1 {
  padding-bottom: 2rem !important;
  color: black;
  text-align: center;
}

.content {
  margin-top: 1rem;
  background: white;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.content h3 {
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 3px;
}

.content img {
  float: left;
  padding-right: 20px;
  padding-top: 6px;
  height: 80px;
}

/* Testimonial section */

#testimonial {
  background: white;
  overflow-x: hidden;
}

#testimonial h1 {
  padding-bottom: 2rem !important;
  color: black;
  text-align: center;
}

#testimonial .review {
  width: 380px;
  border: 1px solid #2dbe61;
  border-radius: 15px;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0;
}

.review .fa-star {
  color: rgb(228, 194, 5);
}

#testimonial .review ul {
  list-style: none;
}

#testimonial .review ul li {
  display: inline-block;
  padding-left: 5px;
}

.review blockquote {
  font-style: italic;
}

.review .client img {
  height: 75px;
  width: auto;
  float: left;
  border-radius: 50px;
}

/* Contact us section styling */

#contact {
  text-align: center;
  background: url(../img/back.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}

.contactContainer {
  background: rgba(45, 197, 97, 0.9);
}

#contact p {
  padding: 1rem 0;
}

/* Newsletter section styling */

#news {
  position: relative;
  text-align: center;
  background: rgb(235, 233, 233);
  overflow-x: hidden;
}

#news h1 {
  padding-bottom: 2rem !important;
  color: black;
}

#news input {
  border: none;
  padding: 15px;
  margin: 7px 0;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #2dbe61;
}

.newsSubmit {
  margin: 1.5rem 0 !important;
  background: #2dbe61;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 250px;
  font-size: 1rem;
}

.newsSubmit:hover {
  transition: 0.4s ease-out;
  opacity: 0.8;
}

/* Footer section styling */

#footer {
  background: white;
}

#footer .footerContainer {
  padding: 2rem 4rem;
}

#footer .links {
  list-style: none;
  padding: 0;
}

#footer .links a {
  color: black;
}

#footer .links a:hover {
  color: #2dbe61;
  transition: 0.4s ease-out;
  text-decoration: none;
}

#footer .links li {
  display: inline-block;
  padding-right: 45px;
}

#footer .icons {
  list-style: none;
}

#footer .icons li {
  display: inline-block;
  padding-right: 2rem;
}

#footer .copyright {
  padding: 1rem 4rem;
  background: #fe840d;
  color: white;
  width: 100%;
}

#footer span {
  color: black;
}

.icons {
  float: right;
}

#footer .fab {
  padding: 7px;
  color: white;
  background-color: #2dbe61;
  border-radius: 25px;
  cursor: pointer;
}

#footer .fab:hover {
  transition: 0.4s ease-out;
  background: #fe840d;
}

.icons .fa-facebook-f {
  padding: 7px 12px !important;
}

/* Tracking page styling */

#trackTransfer {
  position: relative;
  text-align: center;
  color: white;
  background: url(../img/customer-service.jpg);
  background-attachment: fixed;
}

#trackTransfer .innerContent {
  background: rgba(0, 0, 0, 0.7);
  padding: 4rem;
  height: 550px;
}

#trackTransfer h1 {
  padding-bottom: 2rem !important;
}

#trackTransfer p {
  padding-bottom: 2rem;
}

#trackTransfer input {
  padding: 20px 25px;
  margin: 10px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid #fe840d;
}

.checkTransfer {
  background: #fe840d;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.checkTransfer:hover {
  opacity: 0.8;
}

/* About us page styling */

#aboutUs {
  background: url(../img/about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#aboutUs .aboutContainer {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
}

#aboutUs .innerContent {
  padding: 5rem 8rem;
}

#gallery .innerContent {
  padding: 5rem 8rem;
}

#statement .innerContent {
  padding: 5rem 8rem;
}

#statement {
  background: white;
}

.vision {
  padding: 2.6rem 2rem;
  border-radius: 15px;
  border: 1px solid #2dbe61;
  height: auto;
}

#statement h1 {
  margin: -15px 0;
  background: #2dbe61;
  font-weight: 500;
  padding: 1rem 2rem;
  color: rgb(97, 96, 96);
  border-radius: 15px 15px 0 0;
}

#aboutUs h1 {
  padding-bottom: 2rem !important;
}

#gallery {
  background: rgb(235, 233, 233);
}

#gallery h1 {
  text-align: center;
  padding-bottom: 4rem;
}

#gallery a img {
  margin-bottom: 2rem;
  width: 100%;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

#gallery a img:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

/* Location page styling */

#location {
  position: relative;
  text-align: center;
  background: url(../img/about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.locationContainer {
  padding: 5rem 6rem 0;
  background: rgba(0, 0, 0, 0.8);
}

.locationContainer h1 {
  color: white;
}

#location h1 {
  margin-bottom: 2rem;
}

.tablink {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: rgb(59, 59, 59);
}

.tabcontent {
  color: darkgray;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.tabcontent h2 {
  font-weight: 500;
  padding: 2rem;
  color: black;
}

.tabcontent .address {
  margin: 2rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: white;
  text-align: left;
  width: 450px;
  height: 250px;
}

.address h3 {
  font-weight: 500;
  padding: 1rem 2rem;
  color: rgb(97, 96, 96);
  background: #dfe3eb;
  border-radius: 15px 15px 0 0;
}

.address ul {
  padding: 2rem;
  list-style: none;
}

.address ul li {
  padding: 5px 0;
}

.address span {
  color: #fe840d;
  font-weight: 500;
}

.address span img {
  height: 16px;
}

/* Media query styling */

@media screen and (max-width: 411px) {
  .tabcontent .address {
    width: 350px !important;
    height: auto;
    margin: 12px;
  }
}

@media screen and (max-width: 414px) {
  .tabcontent .address {
    width: 355px !important;
    height: auto;
    margin: 12px;
  }
}

@media screen and (max-width: 1024px) {
  #testimonial .review {
    width: 280px;
    margin: 5px 0 15px;
  }
  .tabcontent .address {
    width: 340px !important;
    height: auto;
  }
}

@media screen and (max-width: 360px) {
  #testimonial .review {
    width: 300px !important;
    margin: 0;
  }
  .tabcontent .address {
    width: 300px !important;
    height: auto;
    margin: 12px;
  }
}

@media screen and (max-width: 375px) {
  #testimonial .review {
    width: 330px !important;
    margin: 0;
  }
  .tabcontent .address {
    width: 310px !important;
    height: auto;
    margin: 12px;
  }
}

@media screen and (max-width: 340px) {
  #testimonial .review {
    width: 280px !important;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .tabcontent .address {
    width: 260px !important;
    height: auto;
    margin: 12px;
  }
}

@media screen and (max-width: 768px) {
  .infoBar {
    padding: 0 1rem;
    font-size: 0.6rem;
  }

  .infobar img {
    height: 15px;
  }

  .display-4 {
    font-size: 2rem;
  }

  .heading2 {
    font-size: 2rem;
  }

  .marg {
    margin-left: 1.6rem;
  }

  .navbar {
    padding: 0.1rem 1rem;
  }

  .navbar .btn-success {
    margin: 1rem 0 2rem;
  }

  #hero {
    max-height: 540px;
    min-height: 540px;
  }

  .heroContainer br {
    display: none;
  }

  .heroContainer {
    max-height: 540px;
    min-height: 540px;
  }

  .innerContent {
    padding: 4rem 1rem;
  }

  .heroContainer::before {
    content: '';
    display: none;
  }

  .heroContainer h2 {
    font-size: 1.7rem;
  }

  .heroContainer .display-3 {
    font-size: 2rem;
  }

  .heroContainer .display-2 {
    font-size: 3rem;
  }

  .btn-outline-warning {
    background: #fe840d;
  }

  #services .btn-success {
    margin-bottom: 3rem;
    width: 100%;
  }

  #contact .btn-light {
    width: 100%;
  }

  #tracking img {
    width: 270px;
  }

  #tracking .btn-outline-success {
    width: 100%;
    background: #2dbe61;
    color: white;
    margin-top: 1rem;
  }

  #how img {
    width: 300px;
    margin-top: 2rem;
  }

  #partner .innerContent {
    padding: 10px 1rem;
  }

  #partner img {
    height: 15px;
    margin: 0 10px;
  }

  #why h1 {
    text-align: left;
  }

  #footer .footerContainer {
    padding: 2rem 1rem;
    text-align: center;
  }

  #footer .links li {
    padding-right: 15px;
  }

  #footer .icons li {
    padding-right: 55px;
  }

  #footer .copyright {
    padding: 1rem;
    text-align: center;
  }

  .icons li {
    padding-right: 7rem;
  }

  .icons {
    float: none;
  }

  #testimonial .review {
    width: 360px;
    margin: 5px 0 15px;
  }

  #trackTransfer .innerContent {
    padding: 4rem 1rem;
  }

  #trackTransfer p br {
    display: none;
  }

  #aboutUs .innerContent {
    padding: 4rem 1rem;
  }

  #statement .innerContent {
    padding: 4rem 1rem;
  }

  #gallery .innerContent {
    padding: 4rem 1rem;
  }

  .vision {
    margin-bottom: 2.6rem;
    height: auto;
  }

  .locationContainer {
    padding: 4rem 1rem 0;
  }

  .tabcontent {
    padding: 0;
  }

  .tabcontent .address {
    width: 300px;
    height: auto;
    margin: 12px;
  }

  .address h3 {
    font-size: 1.2rem;
    padding: 10px;
    margin: 0;
  }

  .tabcontent h2 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  .tablink {
    margin-bottom: 1rem;
  }
}
