* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.infoBar {
  background: #fe840d;
  width: 100%;
  height: 50px;
  padding: 0 4rem;
  font-size: 0.7rem;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
}

.infoBar img {
  height: 18px;
  margin-right: 0.5rem;
}

.marg {
  margin-left: 4rem;
}

.marg2 {
  padding-left: 10rem;
}

.register {
  padding: 15px 25px;
  background: #2dbe61;
  border-radius: 15px;
}

.register:hover {
  opacity: 0.8;
}

.register a {
  color: white !important;
}

nav {
  height: 14vh;
  background: rgb(247, 245, 245);
}

.logo {
  position: relative;
}

.logo img {
  height: 80px;
  top: 6px;
  position: absolute;
  margin-left: 4rem;
}

.nav-links {
  display: flex;
  list-style: none;
  width: 80%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  padding-right: 4rem;
  text-transform: uppercase;
}

.nav-links li a {
  color: #fe840d;
  font-size: 1rem;
}

.nav-links li a:hover {
  color: #2dbe61;
  transition: 0.4s ease-out;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #2dbe61; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 70px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  animation: fade 1s;
}

#myBtn img {
  height: 22px;
}

#myBtn:hover {
  background-color: #fe840d; /* Add a dark-grey background on hover */
}

p {
  line-height: 1.8;
}

*:focus {
  outline: none;
}

.heading1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

.heading2 {
  font-size: 2rem;
  padding-bottom: 2rem;
  font-weight: 500;
}

/* Footer section styling */
#hero {
  padding: 4rem;
  position: relative;
  background: url(../img/hero.jpg);
  background-size: cover;
  color: white;
  height: 90vh;
}

#hero::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 200px;
  background: white;
  clip-path: polygon(100% 10%, 0 100%, 100% 100%);
}

#hero .left {
  padding-right: 5rem;
  width: 60%;
}

#hero h5 {
  font-size: 2.2rem;
  font-weight: 300;
}

#hero h3 {
  font-size: 3.7rem;
  font-weight: 500;
}

#hero h1 {
  font-size: 4.7rem;
  font-weight: 700;
}

#hero p {
  font-size: 1.3rem;
  padding-bottom: 3rem;
}

#hero .left span {
  padding: 20px 35px;
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
}

#hero .left span a {
  color: white;
}

#hero .left span:hover {
  background: #fe840d;
  transition: 0.4s ease-out;
  border: none;
}

.sendMoney {
  position: absolute;
  padding: 3rem;
  top: 6rem;
  right: 6rem;
  height: 650px;
  background: white;
  color: rgb(59, 59, 59);
  width: 470px;
  border-radius: 50px;
  box-shadow: 0 6px 40px 0 rgba(0, 0, 0, 0.1), 0 12px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sendMoney h2 {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.sendMoney label {
  font-size: 1.2rem;
  font-weight: 500;
}

.sendMoney input {
  border: none;
  border-right: 1px solid #2dbe61;
  padding: 7px 4rem 7px 7px;
}

.input2 select {
  padding-right: 12rem;
}

.input3 select {
  padding-right: 9.5rem;
}

.input1 {
  margin-top: 1rem;
  padding: 15px;
  border: 1px solid #2dbe61;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.submit {
  width: 100%;
  height: 60px;
  color: white;
  background: #2dbe61;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.input1 select {
  border: none;
  padding-left: 20px;
}

/* Services section styling */

#services {
  padding: 6rem 4rem;
  position: relative;
  display: flex;
  width: 100%;
  background: white;
}

.serviceContainer {
  display: flex;
  justify-content: space-evenly;
}

.serviceContainer .last {
  padding-bottom: 3rem;
}

.serviceContainer .left .btn-green a {
  color: white;
}

.serviceContainer .left .btn-green {
  padding: 15px 25px;
  text-align: center;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

.serviceContainer .left .btn-green:hover {
  opacity: 0.8;
  transition: 0.4s ease-out;
}

.serviceContainer .left span {
  background: #2dbe61;
  height: 4px;
  width: 70px;
  display: inline-block;
  margin-right: 1rem;
}

.serviceContainer h4 {
  font-weight: 400;
  padding-bottom: 1rem;
}

.serviceContainer .right .box h4 {
  font-weight: 600;
}

.serviceContainer .right {
  display: flex;
  margin-top: 7rem;
  margin-left: 4rem;
  text-align: center;
}

.serviceContainer .right .box {
  padding: 2rem;
  height: 250px;
  width: 250px;
  margin: 2rem 1rem;
  border-radius: 15px;
  border: 1px solid darkgray;
}

.serviceContainer .right img {
  height: 90px;
}

/* Tracking section styling */
#tracking {
  padding: 6rem 4rem;
  position: relative;
  display: flex;
  background: rgb(247, 245, 245);
}

#tracking .left img {
  width: 500px;
}

#tracking .right {
  width: 55%;
}

#tracking .right p {
  padding-bottom: 3rem;
}

#tracking .btn-outline a {
  color: #2dbe61;
}

#tracking .btn-outline {
  color: #2dbe61;
  padding: 17px 30px;
  border: 1px solid #2dbe61;
  border-radius: 15px;
  cursor: pointer;
}

#tracking .btn-outline:hover {
  transition: 0.4s ease-out;
  background: #2dbe61;
}

#tracking .btn-outline:hover a {
  transition: 0.4s ease-out;
  color: white;
}

/* Steps Section styling */

#steps {
  padding: 2rem 6rem 7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
}

#steps .space {
  padding-bottom: 2rem;
}

#steps .right img {
  width: 550px;
  padding-left: 3rem;
}

#steps .accordion {
  text-align: center;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 10px 0;
}

.panel p {
  padding: 1rem 0 1rem 0;
}

#steps .active,
.accordion:hover {
  background-color: #ccc;
}

#steps .panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#steps .accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 7px;
  color: #777;
  float: right;
  margin-left: 5px;
}

#steps .active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

#partner {
  padding: 0.4rem 0 0;
  background: rgb(247, 245, 245);
  text-align: center;
}

/* Partner section styling */

#partner img {
  height: 40px;
  margin: 0 4.5rem;
  cursor: pointer;
}

#partner img:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}

/* -------------------------------------------------------------
Why Choose us */

#why {
  padding: 5rem 4rem 7rem;
  position: relative;
  text-align: center;
  background: #f9fbfd;
}

.whyChoose {
  display: flex;
  justify-content: space-evenly;
  padding: 1.5rem;
}

.content {
  background: white;
  padding: 2rem;
  text-align: left;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
}

.content h3 {
  font-weight: 500;
  font-size: 1.3rem;
  padding-bottom: 3px;
}

.content img {
  float: left;
  padding-right: 20px;
  padding-top: 6px;
  height: 80px;
}

/* -------------------------------------------------------------
contact */

#contact {
  position: relative;
  text-align: center;
  background: url(../img/back.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.contactContainer {
  background: rgba(45, 197, 97, 0.9);
  padding: 5rem 6rem;
}

#contact p {
  padding-bottom: 3rem;
}

#contact .btn-white a {
  color: #2dbe61;
}

#contact .btn-white {
  padding: 15px 25px;
  text-align: center;
  background: white;
  width: 170px;
  height: 60px;
  border-radius: 15px;
  cursor: pointer;
}

#contact .btn-white:hover {
  transition: 0.4s ease-out;
  opacity: 0.8;
}

/* -------------------------------------------------------------
News */

#news {
  padding: 5rem 6rem;
  position: relative;
  text-align: center;
  background: #f9fbfd;
}

#news input {
  border: none;
  padding: 20px;
  margin: 3px 0;
  width: 250px;
  border-radius: 10px;
  border: 0.5px solid #2dbe622d;
}

.newsSubmit {
  margin: 1.5rem 0 !important;
  background: #2dbe61;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  width: 250px;
  font-size: 1rem;
}

.newsSubmit:hover {
  transition: 0.4s ease-out;
  opacity: 0.8;
}

/* Footer section styling */

#footer {
  padding: 4rem 6rem;
  background: white;
  position: relative;
}

#footer hr {
  margin: 1rem 0;
}

#footer ul {
  list-style: none;
}

.links li a {
  padding-right: 2rem;
  color: black;
}

.links {
  display: flex;
}

#footer span {
  color: #2dbe61;
}

/* -------------------------------------------------------------
Tracking page */

#trackTransfer {
  position: relative;
  text-align: center;
  color: white;
  background: url(../img/customer-service.jpg);
  background-attachment: fixed;
}

.trackBox {
  background: rgba(0, 0, 0, 0.8);
  padding: 5rem 6rem 7rem;
  height: 80vh;
}

#trackTransfer p {
  padding-bottom: 2rem;
}

#trackTransfer input {
  padding: 20px 25px;
  margin: 10px;
  width: 250px;
  border-radius: 15px;
  border: 1px solid #fe840d;
}

.checkTransfer {
  background: #fe840d;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.checkTransfer:hover {
  opacity: 0.8;
}

/* -------------------------------------------------------------
Location page */

#location {
  position: relative;
  text-align: center;
  background: url(../img/about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.locationContainer {
  padding: 5rem 6rem 0;
  background: rgba(0, 0, 0, 0.8);
}

.locationContainer h1 {
  color: white;
}

#location h1 {
  margin-bottom: 2rem;
}

.tablink {
  background-color: #777;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 16px;
  font-size: 17px;
  width: 50%;
}

.tablink:hover {
  background-color: rgb(59, 59, 59);
}

.tabcontent {
  color: darkgray;
  display: none;
  padding: 100px 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
}

.tabcontent h2 {
  font-weight: 500;
  padding: 2rem;
  color: black;
}

.tabcontent .top {
  display: flex;
  justify-content: space-evenly;
}

.tabcontent .middle {
  display: flex;
  justify-content: space-evenly;
}

.tabcontent .bottom {
  display: flex;
  justify-content: space-evenly;
}

.tabcontent .address {
  margin: 2rem;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1), 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  background: white;
  text-align: left;
  width: 450px;
  height: 250px;
}

.address h3 {
  font-weight: 500;
  padding: 1rem 2rem;
  color: rgb(97, 96, 96);
  background: #dfe3eb;
  border-radius: 15px 15px 0 0;
}

.address ul {
  padding: 2rem;
  list-style: none;
}

.address ul li {
  padding: 5px 0;
}

.address span {
  color: #fe840d;
  font-weight: 500;
}

.address span img {
  height: 16px;
}

/* -------------------------------------------------------------
About us page */

#aboutUs {
  background: url(../img/about.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.aboutContainer {
  padding: 5rem 16rem;
  text-align: center;
  background: rgba(45, 197, 97, 0.9);
  color: white;
}

.infoContainer {
  padding: 5rem 6rem;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.vision {
  margin: 2rem 4rem 2rem;
  border-radius: 15px;
  border: 1px solid #2dbe61;
}

.vision p {
  padding: 2rem;
}

.vision h1 {
  background: #2dbe61;
  font-weight: 500;
  padding: 1rem 2rem;
  color: rgb(97, 96, 96);
  border-radius: 15px 15px 0 0;
}

.ourTeam {
  padding: 5rem 6rem;
  background: #f9fbfd;
  text-align: center;
}

.ourTeam h1 {
  margin-bottom: 2rem;
}

.teamContainer {
  display: flex;
  justify-content: space-evenly;
}

.teamMember {
  width: 450px;
  padding: 1rem;
  background: white;
  margin: 2rem;
  border-radius: 15px;
}

.teamMember p {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 5px 0;
}

.teamMember img {
  width: 150px;
  margin-top: -4rem;
}

.social img {
  margin: 1rem 0;
  width: 16px;
  height: auto;
  cursor: pointer;
}
